body {
  height: 2000px;
}

.jumbotron img {
  width: 200px;
}

.jumbotron {
  background-color: rgb(112, 142, 144);
}

#project {
  background-color: rgb(112, 142, 144);
}

footer div p {
  padding: 0;
  margin: 0;
}
